<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" requirePermission="false"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="InvoiceServiceType" type="System.Configuration.NameValueSectionHandler" />
    <section name="InvoiceType" type="System.Configuration.NameValueSectionHandler" />
    <section name="ControlReder" type="System.Configuration.NameValueSectionHandler" />
    <section name="ControlRederAdj" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EInvoice.SuperAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <castle>
    <include uri="file://Config/services.config"/>
    <include uri="file://Config/facilities.config"/>
  </castle>


  <appSettings  file="Config/appSetting.config">
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PublishDomain" value="https://himlamsadmin.vnpt-invoice.com.vn"/>
    <add key="IsTest" value="1"/>
    <add key="ConfigFilePath" value="Config/WebConfig.config"/>    
  </appSettings>

  <system.web>    
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="30" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
      <add type="IdentityManagement.Authorization.FanxiAuthenticationModule, IdentityManagement" name="FanxiAuthenticationModule" />
    </httpModules>
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="on" defaultRedirect="/Account/LogOn">
      <error statusCode="401" redirect="/Home/Unauthorize"/>
      <error statusCode="404" redirect="/Home/PotentiallyError.aspx" />
    </customErrors>
    <httpRuntime maxRequestLength="51200" executionTimeout="3600" enableVersionHeader="false"/>
<httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
      <add type="IdentityManagement.Authorization.FanxiAuthenticationModule, IdentityManagement" name="FanxiAuthenticationModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
		<add name="X-Frame-Options" value="DENY" />
                <add name="Cache-control" value="no-store" />
                <add name="Pragma" value="no-cache" />
      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="Config">
    <system.web>
      <authorization>
        <deny users="*"/>
        <!-- Denies all users -->
      </authorization>
    </system.web>
  </location>

  <location path="EmailTemplates">
    <system.web>
      <authorization>
        <deny users="*"/>
        <!-- Denies all users -->
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <EInvoice.SuperAdmin.Properties.Settings>
      <setting name="EInvoice_SuperAdmin_ManagePublishInv_ManagerService"
        serializeAs="String">
        <value>http://localhost:8085/ManagerService.asmx</value>
      </setting>
    </EInvoice.SuperAdmin.Properties.Settings>
  </applicationSettings>
</configuration>
