<configuration>
  <properties>
    <smtpHost>localhost</smtpHost>
    <!-- required-->
    <smtpPort></smtpPort>
    <smtpUsername></smtpUsername>
    <smtpPassword></smtpPassword>
    <emailEncoding></emailEncoding>
    <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
    <tempDir></tempDir>
  </properties>
  <components>
    <!--<component
			id="castle.activitymanager"
			service="Castle.Services.Transaction.IActivityManager, Castle.Services.Transaction"
			type="FanxiBase.Core.Infrastructure.Transactions.WebActivityManager, FanxiBase.Core">
    </component>-->

    <!--<component
			id="castle.transactionmanager"
			service="Castle.Services.Transaction.ITransactionManager, Castle.Services.Transaction"
			type="Castle.Services.Transaction.DefaultTransactionManager, Castle.Services.Transaction">
    </component>-->

    <!-- Email Service-->
    <component
      id="FX.Utils.emailservice"
      service="FX.Utils.EmailService.IEmailService, FX.Utils"
      type="FX.Utils.EmailService.DefaultEmailService, FX.Utils">
      <parameters>
        <TemplateDir>EmailTemplates</TemplateDir>
      </parameters> 
    </component>
    <component
			id="FX.Utils.emailsender"
			service="FX.Utils.EmailService.IEmailSender, FX.Utils"
			type="FX.Utils.EmailService.SmtpNet2EmailSender, FX.Utils">
      <!--<parameters>
        <host>smtp.gmail.com</host>
        <port>587</port>
        <EnableSsl>true</EnableSsl>
        <smtpUsername>d12congiap@gmail.com</smtpUsername>
        <smtpPassword>1521982</smtpPassword>
        <emailEncoding>UTF-8</emailEncoding>
        --><!-- optional properties
				<emailEncoding>#{emailEncoding}</emailEncoding>
				--><!--
      </parameters>-->
      <parameters>
        <host>123.30.179.233</host>
        <port>25</port>
        <EnableSsl>false</EnableSsl>
        <smtpUsername>vnpt-invoice@vnpt-ca.vn</smtpUsername>
        <smtpPassword>invoice@123</smtpPassword>
        <emailEncoding>UTF-8</emailEncoding>
      </parameters>
    </component>
    <component
			id="FX.Utils.emailtemplateengine"
			service="FX.Utils.EmailService.IEmailTemplateEngine, FX.Utils"
			type="FX.Utils.EmailService.SimpleEmailTemplateEngine, FX.Utils">
    </component>

    <!--IdentityManagement-->
    <component
      id="IRBACMembershipProvider"
      service="IdentityManagement.WebProviders.IRBACMembershipProvider, IdentityManagement"
      type="IdentityManagement.WebProviders.RBACMembershipProvider, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EInvoice</mApplicationName>
      </parameters>
    </component>
    
    <component
      id="FanxiAuthentication"
      service="IdentityManagement.Authorization.FanxiAuthenticationBase, IdentityManagement"
      type="IdentityManagement.Authorization.SSOAuthentication, EInvoice.SuperAdmin">
      <parameters>
        <mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EInvoice</mApplicationName>
      </parameters>
    </component>

    <component
      id="RBACRoleProvider"
      service="IdentityManagement.WebProviders.IRBACRoleProvider, IdentityManagement"
      type="IdentityManagement.WebProviders.RBACRoleProvider, IdentityManagement">
      <parameters>
        <mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
        <mApplicationName>EInvoice</mApplicationName>
      </parameters>
    </component>

    <component
      id="IroleService"
      service="IdentityManagement.Service.IroleService, IdentityManagement"
      type="IdentityManagement.ImplementService.roleService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>        
      </parameters>
    </component>

    <component
      id="IApplicationsService"
      service="IdentityManagement.Service.IApplicationsService, IdentityManagement"
      type="IdentityManagement.ImplementService.ApplicationsService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="IuserService"
      service="IdentityManagement.Service.IuserService, IdentityManagement"
      type="IdentityManagement.ImplementService.userService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
    <component
      id="IoperationService"
      service="IdentityManagement.Service.IoperationService, IdentityManagement"
      type="IdentityManagement.ImplementService.operationService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>        
      </parameters>
    </component>

    <component
      id="IpermissionService"
      service="IdentityManagement.Service.IpermissionService, IdentityManagement"
      type="IdentityManagement.ImplementService.permissionService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>        
      </parameters>
    </component>
    <component
      id="IobjectService"
      service="IdentityManagement.Service.IobjectService, IdentityManagement"
      type="IdentityManagement.ImplementService.objectService, IdentityManagement">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>        
      </parameters>
    </component>
    
    <!--EInvoice.Core-->
    <component  id="ICompanyService" service="EInvoice.Core.IService.ICompanyService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.CompanyService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>    
    <component  id="IDecisionService" service="EInvoice.Core.IService.IDecisionService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.DecisionService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>    
    <component  id="IInvCategoryService" service="EInvoice.Core.IService.IInvCategoryService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvCategoryService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IInvTemplateService" service="EInvoice.Core.IService.IInvTemplateService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.InvTemplateService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IRegisterTempService" service="EInvoice.Core.IService.IRegisterTempService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.RegisterTempService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>        
    <component  id="ITaxAuthorityService" service="EInvoice.Core.IService.ITaxAuthorityService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.TaxAuthorityService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IKeyStoresService" service="EInvoice.Core.IService.IKeyStoresService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.KeyStoresService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>    
    <component  id="ICertificateService" service="EInvoice.Core.IService.ICertificateService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.CertificateService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
        
    <component  id="IConfigService" service="EInvoice.Core.IService.IConfigService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.ConfigService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IMenusService" service="EInvoice.Core.IService.IMenusService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.MenusService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="INavigateLinkService" service="EInvoice.Core.IService.INavigateLinkService, EInvoice.Core"  type="EInvoice.Core.ServiceImp.NavigateLinkService, EInvoice.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
    <component  id="IGeneratorINV" service="EInvoice.Core.Launching.IGeneratorINV, EInvoice.Core"  type="EInvoice.Core.Launching.DsigGenerator, EInvoice.Core"/>
    <!--view-->
    <component  id="IViewer" service="EInvoice.Core.Viewer.IViewer, EInvoice.Core"  type="EInvoice.Core.Viewer.XadesViewer, EInvoice.Core"/>
  </components>
</configuration>
