<?xml version="1.0" encoding="utf-8" ?>
<root>  
  <ControlReder>
    <add key="VATInVoice" value="VATShare"/>
    <add key="InvoiceExport" value="InvExportShareElement"/>
  </ControlReder>
  
  <ControlRederAdj>
    <add key="VATInVoice" value="InvoiceVATShareElement"/>
    <add key="InvoiceExport" value="InvExportShareElement"/>
  </ControlRederAdj>
  
  <InvoiceServiceType>
    <add key="VATInVoice" value="EInvoice.Core.ServiceImp.InvoiceVATService" />
    <add key="InvoiceExport" value="EInvoice.Core.ServiceImp.InvExportService"/>
  </InvoiceServiceType>

  <InvoiceType>
    <add key="VATInVoice" value="EInvoice.Core.Domain.InvoiceVAT" />
    <add key="InvoiceExport" value="EInvoice.Core.Domain.InvExport"/>
  </InvoiceType>

</root>
